---
const links = ['home', 'about', 'blog', 'tags'];
const home = 'home';
---

<div transition:animate="slide" class="nav-links">
    {links.map((link) =>
        <a href={ "/" + (home === link ? "" : link) } data-astro-reload>{link}</a>
    )}
</div>